@media (min-width: 1200px) {
/*Header starts*/
header nav li{
	text-align: center;
	width: auto;
}
header .nav li a{
	margin-left: 83px;
}
/* Header ends */

.slider{
	height: 545px;
	min-width: 724px;
}
.slider img{
	max-width: 100%;
	max-height: 100%;
}
.buy{
	min-height: 545px;
}


.center{
	width:1000px;
	margin:auto;
	padding-bottom:40px;
}
.view{
	
	bottom:-5%;
	
}
.bottom .container h3 p{
	padding-top: 25px;
	width: 100%;
}
div.row.play>div{
	padding: 38px;
}
div.row.play>div p{
	padding: 0 10px;
	margin: 0;
}
.play>div{
	margin:40px 10px 20px 10px;
	padding:40px 65px;
	text-align:center;
	background:#000;
}
.play div h2{
	color:white;
}
.play div img{
	display:block;
	margin: auto;
}
.play div p{
	font-size:13px;
	text-align:left;
	padding:10px;
}
#carousel-example-generic{
	height:155px;
}
.item{
	font-size:15px;
}
.footer-top .sli{
	margin-top:15px;
}
.sli .carousel-inner{
	width:100%;
	height:auto !important;
}
.carousel, .carousel-inner > .item {
  display: run-in;
  width: 100%;
  height: auto!important;
}
.carousel-container {
    margin-left:0;
}
}