@media (min-width: 992px) {

/*Botom starts*/
.bottom .container{
	padding-bottom:60px;
}
.bottom .container h3{
	margin: 0;
	padding: 0;
	font-size: 21px;
}
.bottom .container h3 p{
	padding-top: 25px;
	width: 100%;
}
.bottom .container h3 ul{
	text-decoration: none;
	padding:0;
}
.bottom .container h3 ul li{
	list-style: none;
	margin-left: 0;
	font-size: 14px;
	margin-top:20px;
}
.bottom .container h3 ul li a{
	
	font-size: 14px;
	color: #bfbfbf;
}
.bottom .container  p{
	font-size: 12px;
	text-align: left;
	width: 25%;
}
.bottom .container  p img{
	float:left;
	padding-right:5px;
}
.bottom{
	background: #545454;
	margin-top: -21px;
	padding-top: 50px;
	border-bottom: 1px solid #656565;
}


}